 /* Daniel Popovici - style.css 7/21/2022 */

body{
    background-color: #363946;
    margin: 0px;
    font-family: sans-serif;
}
button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-emphasis: 500px;
    font-size: 25px;
    background-color: #819595;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    outline: none;
    transition: all 0.3s ease 0s;
}

button:hover{
    box-shadow: 0px 10px 10px rgba(129, 149, 149,0.2);
    transform: translateY(-8px);
}


button:active{
    transform: translateY(1px);
}

#sliderContainer{
    display: flex;
    flex-direction: column;
    background-color: #819595;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
    padding: 5px 15px 5px 15px;
}

#rangeValue,#sliderText{
    font-size: 30px;
    text-align: center;
}

 
#pageContainer{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 850px;
    width: 850px;
    height: 850px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.square{
    display: flex;
    width: 40px;
    height: 100%;
    border-radius: 0px;
    border-style: solid;
    border-color: rgba(149, 149, 149, 0.15);
    background-color: #fff;
    /* box-shadow: 0px 0px 15px #000 ; */
    flex-grow: 1;
}

#buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}